<footer class="footer">
  <ul>
    {{ range .Site.Menus.footer }}<li><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
  </ul>
  <small>&copy; Copyright {{ .Site.Params.copyright }}</small>
  <!-- Short Codes -->
  <script src="{{"js/shortcodes/rolltable.js"| relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
  <!-- Site Navigation -->
  <script src="https://cdn.jsdelivr.net/npm/accessible-menu/dist/accessibleMenu.js"></script>
  <script>
    const navs = document.querySelectorAll("nav");
    const menuSettings = {
      menuItemSelector: ".menu-item",
      submenuItemSelector: ".menu-item.dropdown",
      submenuToggleSelector: ".dropdown-toggle",
      submenuSelector: ".menu.dropdown",
    };
    const whitelistNavs = ["site-nav", "game-nav", "blog-nav"]

    navs.forEach(nav => {
      const menuElement = nav.querySelector(".menu");

      if (whitelistNavs.includes(nav.id)) {
        const controllerElement = nav.querySelector(".menu-toggle");
        const menu = new AccessibleMenu.Menubar({
          menuElement,
          ...menuSettings,
          controllerElement,
          containerElement: nav
        });
      }
    });

  </script>
</footer>
