nav.pagination {
  margin-top: 4em;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    // align-items: center;
    justify-content: center;
    li {
      a {
        padding: 1em;
        margin: 0 0.5em;
        &[aria-current="true"] {
          font-weight: bold;
          background-color: var(--primary-color);
          color: var(--primary-color-text);
        }
        &:hover {
          background-color: var(--primary-color-hover);
          color: var(--primary-color-text);
        }
        &[aria-disabled="true"] {
          color: gray;
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }
}
