<nav class="game-nav">
{{- $currentNode := . -}}
  {{/* Find the current game so only that game's nav menu is displayed when selected*/}}
  {{- range (.GetPage .Section).Pages -}}
  {{- if .IsAncestor $currentNode -}}{{- $currentNode.Scratch.Set "game" . -}}{{- end -}}
  {{- end -}}
  {{- $game := $currentNode.Scratch.Get "game" -}}
  <header><a href="{{ $game.RelPermalink }}"><img src="{{ $game.Params.logo }}"/><h1>{{ $game.Title }}</h1></a></header>
  {{ template "section-tree-nav" dict "sect" $game "currentnode" $currentNode "game" $game -}}
  <footer></footer>
</nav>


{{ define "section-tree-nav" }}
{{ $currentNode := .currentnode }}
{{ $game := .game}}
{{ $currentFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentFileUniqueID = .UniqueID }}{{ end }}
{{ with .sect }}
  {{ $isActivePage := eq $currentNode.Title .Title }}
  {{ $isPage       := eq .Kind "page" }}
  {{ $isGameRoot   := eq $game.Title .Title }}
  {{ if and .IsSection (or (not .Params.hidden) $.showhidden) }}
    {{ safeHTML .Params.head }}
    {{ if not $isGameRoot}} {{/* We need to strip the list item*/}}
    <li><a href="{{ .RelPermalink }}">{{  .Title }}</a>
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        {{ if eq .Params.navlist "ordered"}}
          <ol>
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections}}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{ end }}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}
            {{ range $pages.ByWeight }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "game" $game }}
            {{ end }}
          </ol>
        {{ else }}
          <ul>
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections}}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{ end }}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}
            {{ range $pages.ByWeight }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "game" $game }}
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    </li>
    {{ else }}
    {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        {{ if eq .Params.navlist "ordered"}}
          <ol>
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections}}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{ end }}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}
            {{ range $pages.ByWeight }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "game" $game }}
            {{ end }}
          </ol>
        {{ else }}
          <ul>
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections}}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{ end }}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}
            {{ range $pages.ByWeight }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "game" $game }}
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    <li><a href="{{ .RelPermalink}}">{{ .Title}}</a>
      {{ if and $isActivePage $isPage }}{{ .TableOfContents }}{{ end }}
    </li>
  {{ end }}
  {{ end }}
{{ end }}
