table.rolltable {
  width: 100%;
  th {
    text-align: center;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }
  th:hover,
  td:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-color-text);
  }
  td {
    text-align: center;
    border: 0;
    &.selected {
      background-color: var(--primary-color);
      color: var(--primary-color-text);
      font-weight: bold;
    }
  }
  tr:nth-child(even) {
    background-color: var(--primary-color-light);
  }

  caption {
    button {
      padding: 5px;
      color: var(--primary-color-hover);
      float: left;
      left: 10px;
    }
    p.table-caption {
      background: #eeeeee;
      font-style: italic;
      font-size: 0.75rem;
      display: flow-root;
    }
  }
}
