{{/* Find the current game so the main tag can be appropriately classified*/}}
{{- $activeNode := . -}}
{{- range (.GetPage .Section).Pages -}}
  {{- if .IsAncestor $activeNode -}}{{- $activeNode.Scratch.Set "game" . -}}{{- end -}}
{{- end -}}
{{- $game := $activeNode.Scratch.Get "game" -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "site/head.html" . -}}
    <body>
        {{- partial "site/header.html" . -}}
        <main id="content" class="{{ lower (urlize $game.Title) }}">
          <aside class="game-nav">
            {{- partial "games/nav.html" . -}}
          </aside>
          <article class="game">
            {{- block "main" . }}{{- end }}
          </article>
        </main>
        {{- partial "site/footer.html" . -}}
    </body>
</html>
