{{ define "main" }}
    <header>
        {{ partial "games/breadcrumbs" . }}
        <h1>{{ .Title }}</h1>
        <blockquote>{{ .Description | markdownify }}</blockquote>
    </header>
    <figure>
        <figcaption>Details:</figcaption>
        <dl>
            <dt>Team:</dt>{{ range .Params.team }}<dd>{{ . }}</dd>{{ end }}
            <dt>Tags:</dt>{{ range .Params.tags }}<dd>{{ . }}</dd>{{ end }}
            <dt>Price:</dt><dd>{{ .Params.price }}</dd>
        </dl>
    </figure>
    {{ .Content }}
    <footer>
    </footer>
{{ end }}
