@import 'global-variables';
/* Setup for all asides */
button.asides {
  width: 100%;
  height: 40px;
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
}
button.asides i {
  display: block;
  float: left;
  padding-top: 1.5px;
  padding-left: 10px;
  font-size: 1.4rem;
}

@mixin shortcode-aside {
  padding: 10px;
  position: relative;
  display: none;
  overflow: hidden;

  p {
    padding: 10px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
  }
}

/* Setup for individual aside types; mainly changing colors */
/* If you want to add a new aside type, define the colors here */
aside.mechanical {
  @include shortcode-aside();
  background: #FFF2DB;
}
button.asides.mechanical {
  background-color: #F0B37E;
}

aside.warning {
  @include shortcode-aside();
  background: #FAE2E2;
}
button.asides.warning {
  background-color: rgba(217, 83, 79, 0.8);
}

aside.note {
  @include shortcode-aside();
  background: #E7F2FA;
}
button.asides.note {
  background-color: #6AB0DE;
}

aside.inworld {
  @include shortcode-aside();
  background: #E7F2FA;
}
button.asides.inworld {
  background-color: rgb(167, 107, 190);
}

aside.example {
  @include shortcode-aside();
  background: #E6F9E6;
}
button.asides.example {
  background-color: rgba(92, 184, 92, 0.8);
}
