@import 'games/nav';
@import 'games/breadcrumbs';

article.game {
  width: 90%;
  @media screen and (min-width: 1070px) {
    padding-left: 22em;
  }
  @media screen and (max-width: 1069px) {
    padding-top: 3em;
  }
}
