// Global defaults
:root {
  --font-stack: Helvetica, sans-serif;
  --site-nav-height: 4em;
  --primary-color: #00b3b3;
  --primary-color-text: #FFF;
  --primary-color-light: #7fd9d9;
  --primary-color-hover: #6bd3d3;
  --secondary-color: #b300b3;
  --secondary-color-text: #FFF;
  --secondary-color-light: #d97fd9;
  --secondary-color-hover: #d36bd3;
  --tertiary-color: #b3b300;
  --tertiary-color-text: #FFF;
  --tertiary-color-light: #d9d97f;
  --tertiary-color-hover: #d3d36b;
  --blog-nav-height: 4em;
  --game-nav-height: 4em;
}
// Override Site variables from config
{{ with .Site.Params.scss.site }}
  {{ range $variable, $value := . }}
    :root {
      --{{ $variable }}: {{ $value }}
    }
  {{ end }}
{{ end }}
// Site SCSS
@import 'site';
// Blog SCSS
// Override blog defaults from site config
{{ with .Site.Params.scss.blog }}
  {{ range $variable, $value := . }}
    :root {
      --{{ $variable }}: {{ $value }}
    }
  {{ end }}
{{ end }}
@import 'blog';
// Store SCSS
// Game Variables inherit from site unless overridden
// Override game defaults from site config
{{ with .Site.Params.scss.games }}
  {{ range $variable, $value := . }}
    :root {
      --{{ $variable }}: {{ $value }}
    }
  {{ end }}
{{ end }}
// Game SCSS
@import 'games';
// Handle per-game override
{{ $games := (.Site.GetPage "/games").Sections }}
{{ range $games }}
  // Override variable definitions
  {{ $name := lower (urlize .Title) }}
  {{ with .Params.scss }}
    {{ range $variable, $value := . }}
      :root {
        --{{ $variable }}: {{ $value }}
      }
    {{ end }}
    $name: "{{ $name }}";
    // Import the general variable override
    @import 'games/override';
  {{ end }}
  body > footer::after {
    content: "{{ resources.Get (printf "scss/%v.scss" $name) }}";
    color: var(--primary-color);
  }
{{ end }}
