@import 'site/nav';
@import 'site/icons';
@import 'site/details';
@import 'site/rolltable';
@import 'site/art';

html {
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.2rem;
}

body {
  margin: 0;
}

header,
footer {
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-top: $site-nav-height;

  @media screen and (min-width: 1070px) {
    width: 80%;
  }
  article {
    padding-left: 2em;
  }
}
