main.#{$name} {
  aside.game-nav {
    nav#game-nav {
      background-color: var(--primary-color);
      color: var(--primary-color-text);

      a {
        color: var(--primary-color-text);
      }
      * {
        &:focus {
          background-color: var(--primary-color-light) !important;
        }
      }

      button {
        color: var(--primary-color-text);
        background-color: var(--primary-color);
      }

      .menu {
        background-color: var(--primary-color);
        &.current {
          background-color: var(--primary-color-light);
          .menu-link,
          .menu-toggle {
            background-color: var(--primary-color-light);
          }
        }

        .menu-link,
        .menu-toggle {
          background-color: var(--primary-color);

          &:hover {
            background-color: var(--primary-color-hover);
          }
        }

        .menu-link:active {
          background-color: var(--primary-color-light);
        }
      }
    }
  }
}
