@import "../site/global-variables";

$game-font-stack: $font-stack;
$game-primary-color: $primary-color;
$game-primary-color-text: $primary-color-text;
$game-primary-color-light: $primary-color-light;
$game-primary-color-hover: $primary-color-hover;
$game-secondary-color: $secondary-color;
$game-tertiary-color: $tertiary-color;

$game-nav-height: 4em;
