{{- $type := .Get 0 -}}
{{- $title := .Get 1 -}}
{{- $anchor := urlize $title -}}
{{/* This determines the icon placed to the left of the button;
     to add a new aside type, make sure it is represented here. */}}
{{- if eq (lower $type) "mechanical" -}}
  {{- $.Scratch.Set "icon" "fas fa-wrench" -}}
{{- else if eq (lower $type) "warning" -}}
  {{- $.Scratch.Set "icon" "fas fa-exclamation-triangle" -}}
{{- else if eq (lower $type) "inworld" -}}
  {{- $.Scratch.Set "icon" "fas fa-pen-nib" -}}
{{- else if eq (lower $type) "example" -}}
  {{- $.Scratch.Set "icon" "fas fa-dice-d20" -}}
{{- else -}}
  {{- $.Scratch.Set "icon" "fas fa-info" -}}
{{- end -}}

<button type="button" class="asides {{ $type }} collapsible" id="{{ $anchor }}"><i class="{{ $.Scratch.Get "icon" }}"></i>{{ $title }}</button>
<aside class="{{ .Get 0 }}" id="{{ $anchor }}-aside">{{ .Inner | markdownify }}</aside>
